numpy==1.26.4
fastapi
uvicorn
python-multipart
streamlit
requests
pypdf
python-docx
chromadb
sentence-transformers==2.7.0
python-dotenv
plotly
google-generativeai
matplotlib
pandas
openpyxl
prophet
langgraph
boto3
python-multipart
python-dotenv
requests
sqlalchemy
psycopg2-binary